#card-title-input {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    border: none;
}

div.add-card-popup {
    max-width: 272px;
    display: block;
    background-color:#ebecf0;
}

button.btn-success {
    background-color: #007F00 !important;
    color: white !important;
}

button.btn-success:hover {
    background-color: #19ac19 !important;
    border-color: #19ac19 !important;
}