#list-menu-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 280px;
    background-color: #fafafa;
    box-shadow: rgba(180, 180, 180, 0.7) 2px 2px 3px 1px;
}
  
.list-menu .list-group .list-group-item {
    cursor: pointer;
    font-size: 14px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
  
.list-menu .list-group .list-group-item > i {
    opacity: 0.65;
}